.main {
  margin: auto;
  z-index: 12;
  position: relative;
  width: 720px;
  height: 720px;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.orderNumber {
  color: #f2f2f3;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  border: 1px dashed #4c4cff;
  padding-top: 120px;
}

.closeIcon {
  position: absolute;
  top: 60px;
  right: 60px;
}

.textIdentificator {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.textZakazgotov {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.textDogdites {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8585ad;
}
