.main {
  align-items: center;
  max-width: 632px;
  max-height: 700px;
  scrollbar-width: thin;
  scrollbar-color: #8585ad black;
  z-index: 0;
}

.menuBox {
  margin: 0;
  padding: 0;
}

.constructorBox {
  display: flex;
  height: 80px;
  align-content: center;
  text-align: left;
}

.darkBackround {
  width: 536px;
  display: flex;
  background: #1c1c21;
  border-radius: 40px;
  justify-content: space-between;
  align-content: center;
  text-align: left;
}

.priceBox {
  display: flex;
  align-self: center;
  max-height: 24px;
}

.title {
  align-self: center;
  max-width: 240px;
}

.image {
  width: 80px;
  height: 40px;
  align-self: center;
}

.dragIcon {
  align-self: center;
  z-index: 5;
}

.totalSumBox {
  display: flex;
  justify-content: flex-end;
}

.priceIconLarge svg {
  height: 33px;
  width: 33px;
}

.priceBoxLarge {
  height: 33px;
  display: flex;
  align-self: center;
}

.list {
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  max-height: 475px;
  padding: 0;
}

.listElement {
  width: 100%;
  display: flex;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  position: relative;
}

.listElement:first-child {
  margin-top: 0;
}

.orderConstructor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
